.topnav {
  background-color: #1c91a1;
  border: 1px solid black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #62CDFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-size: 1.8rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: rgb(62, 4, 53);
}
